<!doctype html>
<html lang="en" ng-app="formExample">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head 
         content must come *after* these tags -->
    
    <title>Time Table</title>    
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
<div ng-controller="formController">
<form role="form" name="timetableForm" ng-submit="sendTimeTable()" novalidate>
    <div id="info">
    <input type="number" id="sem" name="sem" placeholder="Semester"
                            ng-model="timetable.sem" required min="1" max="8">
    <input type="text" id="group" name="group" placeholder="Group"
                            ng-model="timetable.group" required>
    </div>
    <table width="80%" align="center" >
    <tr>
        <th>Time</th>
        <th>1<br>8:15-9:15</th>
        <th>2<br>9:15-10:15</th>
        <th>3<br>10:15-11:15</th>
        <th>4<br>11:45-12:15</th>
        <th>5<br>12:45-1:45</th>
        <th>6<br>1:45-2:45</th>
        <th>6<br>2:45-3:45</th>
    </tr>
  

    <tr>
        <th>Monday</th>
        
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.monday.p1.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.monday.p1.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.monday.p1.teacher" required> 
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.monday.p2.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.monday.p2.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.monday.p2.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.monday.p3.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.monday.p3.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.monday.p3.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.monday.p4.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.monday.p4.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.monday.p4.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.monday.p5.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.monday.p5.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.monday.p5.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.monday.p6.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.monday.p6.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.monday.p6.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.monday.p7.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.monday.p7.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.monday.p7.teacher" required>
            </td>
        
    </tr>

    <tr>
        <th>Tuesday</td>
        
            
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.tuesday.p1.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.tuesday.p1.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.tuesday.p1.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.tuesday.p2.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.tuesday.p2.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.tuesday.p2.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.tuesday.p3.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.tuesday.p3.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.tuesday.p3.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.tuesday.p4.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.tuesday.p4.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.tuesday.p4.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.tuesday.p5.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.tuesday.p5.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.tuesday.p5.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.tuesday.p6.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.tuesday.p6.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.tuesday.p6.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.tuesday.p7.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.tuesday.p7.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.tuesday.p7.teacher" required>
            </td>
        
    </tr>

    <tr>
        <th>Wednesday</td>
        
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.wednesday.p1.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.wednesday.p1.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.wednesday.p1.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.wednesday.p2.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.wednesday.p2.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.wednesday.p2.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.wednesday.p3.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.wednesday.p3.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.wednesday.p3.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.wednesday.p4.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.wednesday.p4.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.wednesday.p4.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.wednesday.p5.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.wednesday.p5.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.wednesday.p5.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.wednesday.p6.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.wednesday.p6.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.wednesday.p6.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.wednesday.p7.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.wednesday.p7.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.wednesday.p7.teacher" required>
            </td>

        
    </tr>

    <tr>
        <th>Thursday</td>
        
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.thursday.p1.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.thursday.p1.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.thursday.p1.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.thursday.p2.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.thursday.p2.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.thursday.p2.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.thursday.p3.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.thursday.p3.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.thursday.p3.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.thursday.p4.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.thursday.p4.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.thursday.p4.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.thursday.p5.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.thursday.p5.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.thursday.p5.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.thursday.p6.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.thursday.p6.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.thursday.p6.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.thursday.p7.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.thursday.p7.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.thursday.p7.teacher" required>
            </td>

        
    </tr>

    <tr>
        <th>Friday</td>
        
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.friday.p1.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.friday.p1.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.friday.p1.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.friday.p2.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.friday.p2.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.friday.p2.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.friday.p3.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.friday.p3.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.friday.p3.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.friday.p4.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.friday.p4.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.friday.p4.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.friday.p5.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.friday.p5.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.friday.p5.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.friday.p6.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.friday.p6.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.friday.p6.teacher" required>
            </td>
            <td>
                <input type="text" id="firstname" name="firstname" placeholder="Subject"
                ng-model="timetable.friday.p7.subject" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Room"
                        ng-model="timetable.friday.p7.room" required>
                <br>
                <input type="text" id="firstname" name="firstname" placeholder="Teacher"
                        ng-model="timetable.friday.p7.teacher" required>
            </td>
        
    </tr>
</table>
<div class="center">
<button type="submit">Send Timetable</button>
</div>
</form>
</div>
<script src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>